# Copy to env/proxy.stg.env and set hostnames for your staging environment.
# cp env/proxy.stg.env.example env/proxy.stg.env

IARTNET_ENV_NAME=stg
IARTNET_HTTP_SERVER_NAME_1=frontend.staging.example.com
IARTNET_HTTP_SERVER_NAME_2=iiif.staging.example.com
IARTNET_HTTP_SERVER_NAME_3=ingestion.staging.example.com
IARTNET_HTTP_SERVER_NAME_4=cms.staging.example.com
IARTNET_HTTP_SERVER_NAME_5=
IARTNET_FRONTEND_SERVER_NAME_1=frontend.staging.example.com
IARTNET_FRONTEND_SERVER_NAME_2=
IARTNET_INGESTION_SERVER_NAME=ingestion.staging.example.com
IARTNET_CMS_SERVER_NAME=cms.staging.example.com
IARTNET_IIIF_SERVER_NAME=iiif.staging.example.com
IARTNET_CERT_NAME=frontend.staging.example.com
IARTNET_AUTH_SNIPPET=auth_off.conf
