# Copy to env/proxy.prod.env and set hostnames for your production environment.
# cp env/proxy.prod.env.example env/proxy.prod.env

IARTNET_ENV_NAME=prod
IARTNET_HTTP_SERVER_NAME_1=frontend.example.com
IARTNET_HTTP_SERVER_NAME_2=
IARTNET_HTTP_SERVER_NAME_3=iiif.example.com
IARTNET_HTTP_SERVER_NAME_4=ingestion.example.com
IARTNET_HTTP_SERVER_NAME_5=cms.example.com
IARTNET_FRONTEND_SERVER_NAME_1=frontend.example.com
IARTNET_FRONTEND_SERVER_NAME_2=
IARTNET_WWW_REDIRECT_SERVER_NAME=www.example.com
IARTNET_INGESTION_SERVER_NAME=ingestion.example.com
IARTNET_CMS_SERVER_NAME=cms.example.com
IARTNET_IIIF_SERVER_NAME=iiif.example.com
IARTNET_CERT_NAME=frontend.example.com
IARTNET_AUTH_SNIPPET=auth_preview.conf
